button {
    background-color: orangered;
    padding: 4px 16px;
    border-style: none;
    border-radius: 25px;
    border: 0;
    margin-bottom: 1em;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

button:hover {
    background: #f80101;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 2);
    text-shadow: none;
}